.header__lahg-link{
    margin-top: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 48px;
}
.header__lahg-link:nth-child(2){
  margin-right: 0;
}
  @media all and (min-width:320px)and (max-width:720px){
    .header__lahg-link{
        margin-top: 40px;
        font-size: 18px;
        line-height: 20px;
        margin-right: 15px;
    }
    
  }