.place__title{
    font-family: "Inter Black",Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    max-width: 460px;
 }
 @media all and (min-width:700px)and (max-width:960px){
    .place__title{
        max-width: 350px;
        font-size: 42px;
        line-height: 46px;
    }
  
  }
  @media all and (min-width:320px)and (max-width:700px){
    .place__title{
        max-width: 290px;
        font-size: 32px;
        line-height: 35px;
        margin-left: 10px;
        margin-bottom:100px;
        margin-top: 30px;
    }
     }