.lead__image-group{
    margin-top: -650px;
    width: 75%;
}
@media all and (min-width:1240px)and (max-width:1280px){
    .lead__image-group{
        margin-top: -550px;
        width: 75%;
      }
  }
  @media all and (min-width:1024px)and (max-width:1239px){
    .lead__image-group{
        width: 85%;
        margin-top: -500px;
      }
  }
  @media all and (min-width:768px)and (max-width:960px){
    .lead__image-group{
        width: 95%;
        margin-top: -400px;
      }
    }
  @media all and (min-width:320px)and (max-width:720px){
    .lead__image-group{
        width: 95%;
        margin-top: -170px;
      }
      
  }