.intro__text{
    width: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin-top: 40px;
   
  }
  @media all and (min-width: 320px)and (max-width: 720px){
    .intro__text{
        font-size: 16px;
        line-height: 163%;
        width: 288px;
      }

  }