
.intro__list{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: "Inter Regular",Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media all and (min-width:320px)and (max-width:720px){
    .intro__list{
        width: 288px;
      }

  }