.intro{
    margin-top: 92px;
   }
   .intro ul{
    list-style-type: none;
    margin:  auto ;
    padding: 0;
    max-width: 800px;
    padding-right: 190px;
   }
   @media all and (min-width:1000px)and (max-width:1025px){
    .intro ul{
        padding-right: 120px;
     }
  
  }
  @media all and (min-width:320px)and (max-width:1000px){
    .intro ul{
        padding-right: 0;
        margin-left: 20px;
     }
  }