.lead__image-group{
    position: absolute;
    z-index: 2;
    margin-top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

@media all and (min-width:1000px)and (max-width:1025px){
  .lead__image-group{
     width: 85%;
    
   }
}
@media all and (min-width:320px)and (max-width:1000px){
  .lead__image-group{
     width: 90%;
     margin-top: 30px;
   }

}