.place__url-heading{
    font-family: "Inter Regular",Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #aaa;
}
@media all and (min-width:320px)and (max-width:700px){
    .place__url-heading{
           margin-top: -400px;
           }
     }