
.cover__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    width: 500px;
    margin: 240px auto;
    left: 0;
    right: 0;
    z-index: 3;
    position: absolute;
   text-decoration: none;
  }
  @media all and (min-width:1024px)and (max-device-width:1239px) {
    .cover__title{
      margin: 180px auto;
     }
  }
  @media all and (min-width:768px)and (max-device-width:960px) {
    .cover__title{
      margin:110px auto;
     }
  }
  @media all and (min-width:320px)and (max-device-width:720px){
    .cover__title{
      margin:30px auto;
      font-size: 32px;
      line-height: 35px;
      width: 230px;
     }
  } 