 
 .place__website{
    margin-top: 20px;
  }
  @media all and (min-width: 800px)and (max-device-width:1024px){
    .place__website{
        margin-top: 250px;
        
      }
  }
  @media all and (min-width: 600px)and (max-device-width:800px){
    .place__website{
      margin-top: 70px;
    
    }
  }
 