 
 .place__website{
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 30px;
    margin-top: 75px;
  }
  .place__website ul{
   margin-top: 100px;
   padding-left: 0;
  }
  
  @media all and (min-width:700px)and (max-width:960px){
    .place__website ul{
      margin-top:60px;
     }
     .place__website{
     margin-top: 25px;
     
    }
  
  }
  @media all and (min-width:320px)and (max-width:700px){
    .place__website{
      margin-left: 10px; 
      margin-top: 0;
     }
     .place__website ul{
      margin-top: 0;
     }

     }