.cover__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    width: 320px;
    color: #FFFFFF;
    margin: 420px auto;
    left: 0;
    right: 0;
    z-index: 3;
  }
  @media all and (min-width:1024px)and (max-device-width:1239px) {
    .cover__subtitle{
      margin: 350px auto;
     }
  }
  @media all and (min-width:768px)and (max-device-width:960px) {
    .cover__subtitle{
      margin:300px auto;
     }
  }  
  @media all and (min-width:320px)and (max-device-width:720px){
    .cover__subtitle{
      margin:130px auto;
      font-size: 14px;
      line-height: 16px;
      width: 288px;
     }
  }