
 .plases{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }
 @media all and (min-width: 320px)and (max-device-width:500px){
    .plases{
        flex-direction: column;
    }
  }
 